body{
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
}

.newsItem-titleLink {
    font-size: 10pt;
}
.newsItem-titleLink > a:visited{
    color: #828282;
}
.newsItem-titleLink > a:link{
    color: black;
    text-decoration: none;
}

.newsItem-titleDomain{
    font-size: 0.75em;
    text-decoration: none;
    margin-left: 5px;
}

.newsItem-titleDomain > a {
  color: #828282;
  text-decoration: none;
}

.newsItem-titleDomain > a:hover {
  text-decoration: underline;
}

.newsItem{
    align-items: baseline;
    display: flex;
    color: #828282;
    margin-bottom: 3px;
}

.newsList-newsItems{
    margin-top: 10px;
}

.newsItem-itemText {
  flex-grow: 1;
}

.newsItem-rank {
  flex-basis: 25px;
  font-size: 10pt;
  text-align: right;
}

.newsItem-vote {
  flex-basis: 15px;
  text-align: center;
}

.newsItem-subtext {
  font-size: 0.7em;
}

.newsItem-subtext > a {
  color: #828282;
  text-decoration: none;
}

.newsItem-subtext > a:hover {
  text-decoration: underline;
}

.newsHeader-title {
    margin-left: 4px;
    font-weight: bold;
}

.newsHeader-textLink {
    text-decoration: none;
    color: black;
    font-size: 0.9em;
}

.newsHeader {
    align-items: center;
    display: flex;
    padding: 2px;
    background: #ff6600;
}

.newsHeader-logo {
    flex-basis: 18px;
    height: 18px;
    border: 1px solid white;
}

.newsHeader-nav {
  flex-grow: 1;
  margin-left: 10px;
}

.newsHeader-navLink:not(:first-child)::before {
  content: ' | ';
}

.newsHeader-login {
    margin-right: 5px;
}

.newsList {
    background: #f6f6ef;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
